/* .productBox {
    width: 30.25rem;
    height: fit-content;
    background: var(--whiteColor);
    box-shadow: 0.313rem 0.313rem 1.25rem rgba(133, 152, 159, 0.23);
    border-radius: var(--size-20);
    display: flex;
    padding: 2.688rem 0.938rem;
    font-family: var(--fontAlumni);

}
.productTitle {
    font-family: var(--fontAlumni);
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 1;
    color : #333
}
.productImgDiv {
    margin-right: 1.5rem;
}
.productTitleM {
    color: var(--defaultColor) !important;
}
.productDesc {
    margin-top: 1.563rem;
    display: grid;
    grid-template-columns: 1fr 1.1fr 1fr;
    row-gap: var(--size-16);
}
.productSub {
    width: fit-content;
    display: flex;
    flex-direction: column;

}
.productSubTitle {
    font-size: 0.75rem;
    color: #b2b2b2;
    font-weight: 700;
}
.productSubText {
    color: #4d4d4d;
    font-weight: 800;
}
.textEn {
    font-size: 1.625rem;
}
.textKr {
    font-size: 1.125rem;
} */

.productBox {
    border: 2px solid #C7C6C6;
    padding: 1.25rem 1.5rem 1.5rem 1.5rem;
    border-radius: 0.625rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.yesEvent {
    width: 8rem;
    height: 2rem;
    border-radius: 6.188rem;
    background: #F99370;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}
.noEvent {
    width: 8rem;
    height: 2rem;
}

.productTitle {
    margin-top: 0.938rem;
    font-size: 1.625rem;
    font-weight: 700;
}
.productCode {
    margin-top: 0.75rem;
    font-size: 1.125rem;
    font-weight: 500;
}
.productTextDiv {
    width: 100%;
    margin-top: 1.438rem;
}
.productTextDiv > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.productTextDiv > div:nth-child(2) {
    margin-top: 1.438rem;
}
.productText:nth-child(1) {
    margin-right: var(--size-30);
}
.productText > div:nth-child(1) {
    font-size: 0.875rem;
    color: #808080;
    
}
.productTextDiv > div:nth-child(1) .productText > div:nth-child(2) {
    font-size: 1.125;
    margin-top: 0.125rem;
}   
.productTextDiv > div:nth-child(2) .productText > div:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--defaultColor3);
}

.productBtn {
    margin-top: 1.438rem;
    font-size: 1.125rem;
    color: white;
    display: flex;
    width: 100%;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    
}
.deadBtn {
    background: #B2B2B2;
}
.aliveBtn {
    background: var(--defaultColor3);
    cursor: pointer;
}